<nav>
  <a href="/">
    <h1>TECH BLOGS</h1>
    <p>Simple Blog using nodejs</p>
  </a>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">Create New Blog</a></li>
    <li><a href="/json">Raw Data</a></li>
  </ul>
</nav>
