<html lang="en">
<%- include('./partials/head.ejs'); %>

<body>
    <%- include('./partials/nav.ejs'); %>
    <div class="blogs content">
        <center>
            <h2 style="font-size: 100px;font-weight: 600; color: white; margin-top: 20%;">
                HTTP: 404;
            </h2>
        </center>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>