<html lang="en">
<%- include('./partials/head.ejs'); %>
<body>
<%- include('./partials/nav.ejs'); %>
<div>
    <h2 class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        dolorum accusantium corporis nesciunt, aperiam, sequi ut, nam laboriosam
        repellendus quisquam dolore suscipit earum numquam rem nulla. Molestiae
        inWalk, scotty, energy!cidunt dicta animi!
        Vae, noster nixus!As i have viewed you, so you must experience one another.Mash up one quarter cup of
        blueberries in a dozen teaspoons of iced tea.The gold commands with grace, vandalize the seychelles before it
        rises.
        Processors resist on assimilation at earth!

    </h2>
</div>
<%- include('./partials/footer.ejs') %>
</body>
</html>
